.button 
	background-color: rgba(0,0,0,0.2)
	font-family: $--font-buttons
	font-weight: 600
	color: $white
	font-size: 12px
	border-radius: 10px
	text-transform: uppercase

	&-landing
		color: $--button-leading

	&-contact
		color: $--button-contact

	&.hollow
		color: $--button-primary

	&-large
		font-size: 16px

	
