body
	text-align: center

h1
	text-align: center
	text-transform: uppercase
	color: $--main-heading-color
	margin: rem-calc(20) 0
	+breakpoint(medium)
		margin: rem-calc(40) 0

h2 
	color: $tundora
	margin: rem-calc(20) 0

h3
	font-family: $--font-body
	small
		display: block
		color: $--subheading-color	
		font-weight: 400
		font-size: .8em
		line-height: 1

.heading-large
	text-transform: uppercase
	font-size: 26px
	color: $--secondary-heading-color
	+breakpoint(medium)
		font-size: 42px

.description
	font-family: $--font-body
	color: $mine-shaft
	font-size: rem-calc(18)
	+breakpoint(medium)
		font-size: rem-calc(20)

.text-left
	text-align: left

