

// colors


$hibiscus	    : #cc3366
$biscay			: #163b64
$atlantis		: #b4d235
$cosmic 		: #663366
$radical-red	: #ff3366
$sunset-orange	: #fe5050

$white			: #fff
$concrete		: #f2f2f2
$dusty-gray	    : #999
$boulder		: #777
$dove-gray		: #666
$tundora        : #444
$mine-shaft     : #333
$black 			: #000


$--primary      	: $white
$--body-text-color  : $mine-shaft
$--links			: $hibiscus

$--main-heading-color		: $dusty-gray
$--secondary-heading-color  : $tundora
$--subheading-color			: $dusty-gray

$--button-primary		: $dusty-gray
$--button-header		: $white
$--button-contact		: $dove-gray
$--button-hover			: $cosmic

$--nav-color			: $dusty-gray
$--nav-bottom-border	: linear-gradient(to right, $radical-red 0%, $cosmic 100%)

$spacer-one-bg			: $hibiscus
$spacer-two-bg			: $biscay

$footer-bg 			: $black
$footer-color 		: $boulder
$footer-links-hover	: $white

$bg-gray 			: $concrete

$post-primary		: $hibiscus
$post-border		: rgba(153, 153, 153, 0.3)
$post-caption		: $mine-shaft

$input-bg			: $concrete
$input-invalid		: $sunset-orange