<section id='aiq-technology' class='tech'>
  <h1 class='section-heading'>AIQ Technology</h1>
  <div class='row'>
    <div class='small-6 columns text-left'>
      <img class='aiq-logo' src='images/logo-secondary.png'>
      <h2>Hi-Tech, Low Cost</h2>
      <p class='description'>AIQ is the next-generation of fuel-efficient technologies powering tomorrow's best selling sHEV and Full Hybrid models. Our modular system is designed for hybrid scooter, hybrid motorcycle, hybrid three-wheeler, and hybrid car applications.</p>
      <p class='description'> We optimize AIQ with the World's largest OEMs. We develop and market AIQ as retrofit kits for sales in the aftermarket, enabling Mass- Hybridization.</p>
  </div><!--small-6-->
  <div class='small-6 columns'>
      <div class='row'>
        <div class='tech-gifs small-6 columns'>
          <img class='gif' src='images/Gifs/WEIGH_3-01-point2s.gif' alt='Weighing scale'>
          <h3>Lightweight <small>System weighs 5kg+</small></h3>
        </div><!--small-6-->
        <div class='tech-gifs small-6 columns'>
          <img class='gif tech-gif__cell' src='images/Gifs/BATTERY_CELL.gif' alt='Battery cell'>
          <h3>Long-life Ultracapacitor <small>Lasts 1 million cycles</small></h3>
        </div><!--small-6-->
        <div class='tech-gifs small-6 columns'>
          <img class='gif' src='images/Gifs/KILO-01.gif' alt='Fuel Gauge'>
          <h3>Fuel-efficient <small>Record 38% fuel-save (WMTC)</small></h3>
        </div><!--small-6-->
        <div class='tech-gifs small-6 columns'>
          <img class='gif' src='images/Gifs/SPEED_LINE-02.gif' alt='Speedometer'>
          <h3>High Performance <small>More torque, fewer emissions</small></h3>
        </div><!--small-6-->
      </div><!--tech-gifs-->
    </div><!--small-6-->
  </div><!--row-->
</section>