 <section id='aiq-advantage'>
  <div class='row align-center'>
    <div class='small-8'>
      <h1 class='section-heading'>AIQ Advantage</h1>
      <p class='description'>Whether it be lithium-ion, advanced lead-acid, lithium-air, lithium-sulphur or solid-state  the humble battery is the weak-link for hybrid-electric drivetrain technology.</p>
      <p class='description'>AIQ’s ultracapacitor design overcomes the problems of traditional hybrid-electric drivetrain technology, delivering a solution that doesn’t expect consumers to compromise value for efficiency.</p>
    </div><!--small-8-->
  </div><!--row-->
  <div class='row'>
    <div class='small-4 columns'>
        <img class='icon' src='images/icons/MANUFACTURE.png' alt='Manufacturer'>
        <h3>Manufacturer</h3>
        <ul>
          <li>Euro 6 Emissions Rating</li>
          <li>Unlock Government Incentives</li>
          <li>Low Increment Cost</li>
          <li>Develop Tech Advantage</li>
        </ul>
    </div><!--small-4-->
    <div class='small-4 columns'>
        <img class='icon' src='images/icons/END_USER.png' alt='End User'>
        <h3>End User</h3>
        <ul>
          <li>Record Fuel Economy</li>
          <li>No Replacement Cost</li>
          <li>Affordable</li>
          <li>Automatic, No Plugin</li>
          <li>Faster Acceleration</li>
        </ul>
    </div><!--small-4-->
    <div class='small-4 columns'>
        <img class='icon' src='images/icons/GOVERNMENT.png' alt='Government'>
        <h3>Government and NGO</h3>
        <ul>
          <li>Convert Existing Vehicles</li>
          <li>Potential to Mass-Hybridize</li>
          <li>Reduce Fossil-Fuel Imports</li>
          <li>Reduce Global Emissions</li>
        </ul>
    </div><!--small-4-->
  </div><!--row-->
</section>