
<footer class="footer">
  <div class='row'>
    <div class='column small-5 small-offset-1'>
      <p class='footer-address'>Unit 2, 90 Colemans Road, Carrum Downs, Australia, 3201</p>
      <p class='footer-address'>Unit 1708, 8 Alexandra View, Singapore 158747</p>
    </div><!--small-5-->
    <div class='column small-2 small-offset-2'>
      <p class='footer-phone'><a href='phone:+65 8314 7092'>+65 8314 7092</a></p>
      <p class='footer-email'><a href="mailto:info@ayataiq.com">info@ayataiq.com</a></p>
    </div><!--small-2-->
    <div class='column small-2'>
      <a href="#"><img src="images/linkedin.png" alt="LinkedIn Logo" class="social-icon"><span class="show-for-sr">LinkedIn</span></a>
      <a href="#"><img src="images/twitter.png" alt="Twitter Logo" class="social-icon"><span class="show-for-sr">Twitter</span></a>
    </div>
  </div><!--row-->
  <div class='row align-center'>
    <p class="footer-copy">ABN 69 09582255 86, 2016-2017 &copy; All rights reserved</p>
  </div><!--row-->
</footer>