
<footer class="footer">
  <div class='row footer-row'>
    <div class='column small-12 medium-5'>
      <a class='footer-contact footer-address'><i class="fa fa-map-marker"></i> Unit 2, 90 Colemans Road, Carrum Downs, Australia, 3201</a>
      <a class='footer-contact footer-address'><i class="fa fa-map-marker"></i> Unit 1708, 8 Alexandra View, Singapore 158747</a>
    </div><!--small-12-->
    <div class='column small-12 medium-2 medium-offset-2 large-offset-3'>
      <a class='footer-contact footer-phone' href='phone:+65 8314 7092'><i class="fa fa-phone"></i> +65 8314 7092</a>
      <a class='footer-contact footer-email' href="mailto:info@ayataiq.com"><i class="fa fa-paper-plane"></i> info@ayataiq.com</a>
    </div><!--small-12-->
    <div class='column small-12 medium-3 large-2 footer-social__wrap'>
      <a href="#"><img src="images/footer/linkedin.png" alt="LinkedIn Logo" class="footer-social"><span class="show-for-sr">LinkedIn</span></a>
      <a href="#"><img src="images/footer/twitter.png" alt="Twitter Logo" class="footer-social"><span class="show-for-sr">Twitter</span></a>
    </div><!--small-12-->
  </div><!--row-->
  <div class='row align-center'>
    <p class="footer-copy">ABN 69 09582255 86, 2016-2017 &copy; All rights reserved</p>
  </div><!--row-->
</footer>