<div class='header-home'>
    <video class='header-home__video' autoplay loop poster="images/header-bg.jpg">
      	<source src="images/videos/header.webm" type="video/webm">
      	<source src="images/videos/header.mp4" type="video/mp4">
    </video>
    <div class='header-home__text'>
        <p class='header-home__title'>We design battery-less hybrid systems for cost-sensitive automotive markets</p>
        <button class='hollow button header-home__button button-large'> Learn More </button>
    </div>
</div>