<section id='media-hub' class='media-hub'>
  <h1 class='section-heading'>Media Hub</h1>
  <div class='section-margin'>
    <p class='description'> Would you like to learn more about Ayata IQ?</p>
    <p class='description'>Stay tuned for content including Whitepapers, Industry Blogs, Videos, and News Coverage.</p>
  </div>
  <div class='row'>
    <div class='small-6 medium-3  columns'>
      <div class='img-wrapper'>
        <img class='icon icon__blog' src='images/icons/BLOG_PINK.png' alt='Blog'>
      </div><!--img-wrapper-->
      <h3>Blog</h3>
      <a class='button hollow' href='media-hub.html'>Read Our Blog</a>
    </div><!--small-6-->
      <div class='small-6 medium-3 columns'>
        <div class='img-wrapper'>
          <img class='icon' src='images/icons/NEWS_PINK.png' alt='News'>
        </div><!--img-wrapper-->
        <h3>News</h3>
        <a class='button hollow' href='media-hub.html'>Read News</a>
      </div><!--small-6-->
      <div class='small-6 medium-3 columns'>
        <div class='img-wrapper'>
          <img class='icon' src='images/icons/WHITEPAPER_PINK.png' alt='Whitepaper'>
        </div><!--img-wrapper-->
        <h3>Whitepapers</h3>
        <a class='button hollow' href='media-hub.html'>Read Whitepapers</a>
      </div><!--small-6-->
    <div class='small-6 medium-3 columns'>
      <div class='img-wrapper'>
        <img class='icon' src='images/icons/VIDEO_PINK.png' alt='Video'>
      </div><!--img-wrapper-->
      <h3>Videos</h3>
      <a class='button hollow' href='media-hub.html'>Watch Videos</a>
    </div><!--small-6-->
  </div><!--row-->
</section>