<div class="reveal" id="getIt" data-reveal>
  <h3>Technology Whitepaper<small>Please fill out the form to receive the Technology Whitepaper.</small></h3>
    <input type='text' id='name' placeholder='Name'>
    <input type='email' id='email' placeholder='Email Address'>
    <input type='checkbox' name='updates' value='true'>Company News and Industry Updates<br>
    <input type='submit' class='button hollow' value='Submit'>
  <button class="close-button" data-close aria-label="Close modal" type="button">
   <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal people-modal" id="fazulHul" data-reveal>
  <div class='people-modal__details'>
    <img class='people-modal__pic' src='images/people/FazulHuq.png' alt='Fazul Hul'>
    <div class='people-modal__name'>
      <h3>Fazul Hul <small>Chief Executive Officer</small></h3>
    </div>
  </div>
  <p>Fazul is a world-class lead engineer in Global automotive. With over 15 years experience in the industry Fazul has worked on global powertrain programs with major OEM’s including Holden Ltd, General Motors and Ford Australia. He has worked in Thailand, USA, Australia, and Ricardo’s Livonia office in Detroit. This has included Global Powertrain Platforms used in brands such as GM, Opel, SAAB, Alfa Romeo and Ford (HFV6). The technical projects have been as diverse as blank sheet of paper global engine design to global vehicle platforms sold in 42 countries around the world. </p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
   <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal people-modal" id="craigHembrow" data-reveal>
  <div class='people-modal__details'>
    <img class='people-modal__pic' src='images/people/CraigHembrow.png' alt='Craig Hembrow'>
    <div class='people-modal__name'>
      <h3>Craig Hembrow <small>Chief Marketing Officer</small></h3>
      <a href="#"><img src="images/footer/linkedin.png" alt="LinkedIn Logo" class="people-social"><span class="show-for-sr">LinkedIn</span></a>
      <a href="#"><img src="images/footer/twitter.png" alt="Twitter Logo" class="people-social"><span class="show-for-sr">Twitter</span></a>
    </div>
  </div>
  <p>Craig has a strong track record in the fields of marketing and legal strategy. He is a highly skilled negotiator with a focus to deliver win-win outcomes that develop sustainable relationships. As CMO, Craig has established working relationships with several major OEM’s and Tier One Manufacturers in Asia. Craig’s entrepreneurial drive and creative approach to business engagement has allowed him to by-pass the traditional barriers to technology commercialization, reducing the cost and time to get to market for the company.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
   <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal people-modal" id="billByass" data-reveal>
  <div class='people-modal__details'>
    <img class='people-modal__pic' src='images/people/BillByass.png' alt='Bill Byass'>
    <div class='people-modal__name'>
      <h3>Bill Byass <small>Business Advisor</small></h3>
    </div>
  </div>
    <p>Bill is an industry guru with 20 years experience in India. He has demonstrated strong engineering, finance and risk management skills. Over his illustrious career Bill holds an impressive track record in automotive electrical systems manufacture and distribution. Bill also holds a position as Director in Aditya Auto Products &amp; Engineering (I) Pvt Ltd. Bill has vested interests in Ayata IQ.</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
   <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal people-modal" id="michaelLindroos" data-reveal>
  <div class='people-modal__details'>
    <img class='people-modal__pic' src='images/people/MichaelLindroos.png' alt='Michael Lindroos'>
    <div class='people-modal__name'>
      <h3>Michael Lindroos <small>Business Advisor</small></h3>
    </div>
  </div>
  <p>Michael is a management specialist with 23 years of experience in commercialising technologies, marketing and sales. He has been involved in start-up companies since 1996, supporting several capital raisings and IPO’s. His key strengths are in intellectual property strategy and valuation, project planning and management, and strategic partnerships. Michael is also Owner of Romteck PTM Pty Ltd. Michael has been advising Ayata IQ for six years.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
   <span aria-hidden="true">&times;</span>
  </button>
</div>