<section class='people'>
  <h1 class='section-heading'>Our Leadership Team</h1>
  <div class='row'>
    <div class='small-6 medium-3 columns'>
      <div class='img-wrapper'>
        <img src='images/people/FazulHuq.png' alt='Fazul Hul'>
        <h3>Fazul Hul <small>Chief Executive Officer</small></h3>
        <button class='button hollow'>Read Bio</button>
      </div><!--people-img-->
    </div><!--small-6-->  
    <div class='small-6 medium-3 columns'>
      <div class='img-wrapper'>
        <img src='images/people/CraigHembrow.png' alt='Craig Hembrow'>
        <h3>Craig Hembrow <small>Chief Marketing Officer</small></h3>
        <button class='button hollow'>Read Bio</button>
      </div><!--people-img-->
    </div><!--small-6-->  
    <div class='small-6 medium-3 columns'>
      <div class='img-wrapper'>
        <img src='images/people/BillByass.png' alt='Bill Byass'>
        <h3>Bill Byass <small>Business Advisor</small></h3>
        <button class='button hollow'>Read Bio</button>
      </div><!--people-img-->
    </div><!--small-6--> 
    <div class='small-6 medium-3 columns'>
      <div class='img-wrapper'>
        <img src='images/people/MichaelLindroos.png' alt='Michael Lindroos'>
        <h3>Michael Lindroos <small>Business Advisor</small></h3>
        <button class='button hollow'>Read Bio</button>
      </div><!--people-img-->
    </div><!--small-6--> 
  </div><!--row-->
</section>