<section id='people'>
  <h1 class='main-header'>Our Leadership Team</h1>
  <div class='row'>
    <div class='small-3 columns'>
      <div class='people-img'>
        <img src='images/people/FazulHuq.png' alt='Fazul Hul'>
        <h3>Fazul Hul</h3>
        <p class='people-position'>Chief Executive Officer</p>
        <button class='button hollow'>Read Bio</button>
      </div><!--people-img-->
    </div><!--small-3-->  
    <div class='small-3 columns'>
      <div class='people-img'>
        <img src='images/people/CraigHembrow.png' alt='Craig Hembrow'>
        <h3>Craig Hembrow</h3>
        <p class='people-position'>Chief Marketing Officer</p>
        <button class='button hollow'>Read Bio</button>
      </div><!--people-img-->
    </div><!--small-3-->  
    <div class='small-3 columns'>
      <div class='people-img'>
        <img src='images/people/BillByass.png' alt='Bill Byass'>
        <h3>Bill Byass</h3>
        <p class='people-position'>Business Advisor</p>
        <button class='button hollow'>Read Bio</button>
      </div><!--people-img-->
    </div><!--small-3--> 
    <div class='small-3 columns'>
      <div class='people-img'>
        <img src='images/people/MichaelLindroos.png' alt='Michael Lindroos'>
        <h3>Michael Lindroos</h3>
        <p class='people-position'>Business Advisor</p>
        <button class='button hollow'>Read Bio</button>
      </div><!--people-img-->
    </div><!--small-3--> 
  </div><!--row-->
</section>