<article class='post post-blog'>
    <header>
      <h5 class='post-title'><a href='post.html'>Lorem ipsum dolor sit amet, consectetur 
adipiscing elit</a></h5>
			<div class='post-category'>
      	<img class='post-category__img' src='images/icons/BLOG_PINK.png' alt='Blog'>
        <p class='post-category__title'>Blog</p>
      </div>
  	</header>
    <div class='post-excerpt'>
      <p>Mauris egestas commodo turpis sit amet hendrerit. Phasellus placerat, sapien sed luctus semper, nisi orci semper lectus, tristique porttitor urna neque venenatis lectus. Vivamus cursus tempus porttitor. Morbi et metus rhoncus, pharetra dui vitae, congue est</p>
    </div>
    <a href='#' class='post-link button hollow'>Continue Viewing&hellip;</a>
    <div class='post-social__buttons'>
      <div class="fb-like" data-href="#" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      <a class='twitter-share-button' href='https://twitter.com/intent/tweet'>Tweet</a>
      <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
      <script type="IN/Share"></script>
    </div>
</article>
<article class='post post-news'>
    <header>
      <h5 class='post-title'><a href='post.html'>Lorem ipsum dolor sit amet, consectetur 
adipiscing elit</a></h5>
      <div class='post-category'>
      	<img class='post-category__img' src='images/icons/NEWS_PINK.png' alt='News'>
        <p class='post-category__title'>News</p>
      </div>
  	</header>
    <div class='post-excerpt'>
      <p>Mauris egestas commodo turpis sit amet hendrerit. Phasellus placerat, sapien sed luctus semper, nisi orci semper lectus, tristique porttitor urna neque venenatis lectus. Vivamus cursus tempus porttitor. Morbi et metus rhoncus, pharetra dui vitae, congue est</p>
    </div>
    <a href='#' class='post-link button hollow'>Continue Viewing&hellip;</a>
    <div class='post-social__buttons'>
      <div class="fb-like" data-href="#" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      <a class='twitter-share-button' href='https://twitter.com/intent/tweet'>Tweet</a>
      <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
      <script type="IN/Share"></script>
    </div>
</article>
<article class='post post-whitepaper'>
    <header>
      <h5 class='post-title'><a href='post.html'>Lorem ipsum dolor sit amet, consectetur 
adipiscing elit</a></h5>
      <div class='post-category'>
      	<img class='post-category__img' src='images/icons/WHITEPAPER_PINK.png' alt='Whitepaper'>
        <p class='post-category__title'>Whitepaper</p>
      </div>
  	</header>
    <div class='post-excerpt'>
      <p>Mauris egestas commodo turpis sit amet hendrerit. Phasellus placerat, sapien sed luctus semper, nisi orci semper lectus, tristique porttitor urna neque venenatis lectus. Vivamus cursus tempus porttitor. Morbi et metus rhoncus, pharetra dui vitae, congue est</p>
    </div>
    <a href='#' class='post-link button hollow'>Continue Viewing&hellip;</a>
    <div class='post-social__buttons'>
      <div class="fb-like" data-href="#" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      <a class='twitter-share-button' href='https://twitter.com/intent/tweet'>Tweet</a>
      <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
      <script type="IN/Share"></script>
    </div>
</article>
<article class='post post-video'>
    <header>
      <h5 class='post-title'><a href='post.html'>Lorem ipsum dolor sit amet, consectetur 
adipiscing elit</a></h5>
      <div class='post-category'>
      	<img class='post-category__img' src='images/icons/VIDEO_PINK.png' alt='Video'>
        <p class='post-category__title'>Video</p>
      </div>
  	</header>
    <div class='post-image'>
    	<img src='images/post-video.png' alt='Video'>
    </div>
    <div class='post-excerpt'>
      <p>Mauris egestas commodo turpis sit amet hendrerit. Phasellus placerat, sapien sed luctus semper, nisi orci semper lectus, tristique porttitor urna neque venenatis lectus. Vivamus cursus tempus porttitor. Morbi et metus rhoncus, pharetra dui vitae, congue est</p>
    </div>
    <a href='#' class='post-link button hollow'>Continue Viewing&hellip;</a>
    <div class='post-social__buttons'>
      <div class="fb-like" data-href="#" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      <a class='twitter-share-button' href='https://twitter.com/intent/tweet'>Tweet</a>
      <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
      <script type="IN/Share"></script>
    </div>
</article>