<div class='row media-hub-container'>
  <main class='columns small-9'>          
      <article class='post post-full post-news'>
          <header>
            <h5 class='post-title'><a href='post.html'>Lorem ipsum dolor sit amet, consectetur 
adipiscing elit</a></h5>
            <div class='post-category'>
            	<img class='post-category__img' src='images/icons/NEWS_PINK.png' alt='News'>
              <p class='post-category__title'>News</p>
            </div>
        	</header>
          <div class='post-excerpt'>
            <div class='post-social'>
              <a href='#'><img src='images/fb.png' alt='Facebook'></a>
              <a href='#'><img src='images/tw.png' alt='Twitter'></a>
              <a href='#'><img src='images/li.png' alt='LinkedIn'></a>
            </div>
            <p>Mauris egestas commodo turpis sit amet hendrerit. Phasellus placerat, sapien sed luctus semper,  nisi orci 
            semper lectus, tristique porttitor urna neque venenatis lectus. Vivamus cursus tempus porttitor. Morbi et 
            metus rhoncus, pharetra dui vitae, congue est. Nam eget enim est. Phasellus auctor molestie felis, sed 
            malesuada lacus suscipit eu. Fusce faucibus sapien nec ullamcorper vestibulum. Morbi in rutrum tortor. 
            <a href='#'>Praesent tempor, justo vel porttitor varius</a>, magna tellus fringilla massa, ac varius ante nisl in massa. Sed 
            pellentesque hendrerit venenatis. Quisque efficitur, odio achendrerit scelerisque, urna enim consectetur 
            eros, at vestibulum sem neque quis urna. Maecenas commodo felis sed nulla auctor dapibus. Nunc sit 
            amet ex a lorem porta blandit eu at neque.</p>

            <p>Suspendisse sit amet cursus lectus, at viverra dolor. Donec mollis tempor nibh, nec vehicula elit imperdiet 
            vel. Suspendisse mattis ligula nec nibh porttitor vulputate ut et purus. Nam odio turpis, facilisis quis 
            accumsan in, tempus quis sem. Sed ultrices, enim eu mattis tempus, arcu enim tincidunt augue, et 
            viverra tortor neque sit amet metus. Praesent sit amet rutrum ipsum, id dapibus ipsum. Ut a dolor nec 
            arcu dignissim maximus a ultrices neque.</p>

            <figure>
              <img src='images/post_img.png' alt='Image of a busy street'>
              <figcaption>Quisque efficitur, odio ac hendrerit scelerisque, urna enim consectetur eros</figcaption>
            </figure>

            <p>Mauris egestas commodo turpis sit amet hendrerit. Phasellus placerat, sapien sed luctus semper,  nisi orci 
            semper lectus, tristique porttitor urna neque venenatis lectus. Vivamus cursus tempus porttitor. Morbi et 
            metus rhoncus, pharetra dui vitae, congue est. Nam eget enim est. Phasellus auctor molestie felis, sed 
            malesuada lacus suscipit eu. Fusce faucibus sapien nec ullamcorper vestibulum. Morbi in rutrum tortor. 
            Praesent tempor, justo vel porttitor varius, magna tellus fringilla massa, ac varius ante nisl in massa. Sed 
            pellentesque hendrerit venenatis. Quisque efficitur, odio achendrerit scelerisque, urna enim consectetur 
            eros, at vestibulum sem neque quis urna. Maecenas commodo felis sed nulla auctor dapibus. Nunc sit 
            amet ex a lorem porta blandit eu at neque.</p>

            <quote>Morbi et metus rhoncus, pharetra dui vitae, congue est. Nam eget enim est. 
            Phasellus auctor molestie felis, sed malesuada lacus suscipit eu.</quote>

            <p>Suspendisse sit amet cursus lectus, at viverra dolor. Donec mollis tempor nibh, nec vehicula elit imperdiet 
            vel. Suspendisse mattis ligula nec nibh porttitor vulputate ut et purus. Nam odio.</p> 
          </div>
      </article>
   </main>

	<aside class='columns small-3'>
		<div class='widget subscribe'>
		    <form role='form' class='subscribe-form'>
		        <h6>Email Updates</h6>
		        <p>Receive Company News and Industry Updates</p>
		        <input type='text' id='name' placeholder='Name'>
		        <input type='email' id='email' placeholder='Email Address'>
            <input type='submit' class='button hollow' value='Submit'>
		    </form>
		</div><!--widget-->	
	</aside>
</div>