<div class='row'>
  <main class='columns small-8'>
      <article class='post post-blog'>
          <header>
            <h3><a href='post.html'>Lorem ipsum dolor sit amet, consectetur 
adipiscing elit</a></h3>
						<div class='post-category'>
            	<img src='images/icons/BLOG_PINK.png' alt='Blog'>
            </div>
        	</header>
          <div class='post-excerpt'>
            <p>Mauris egestas commodo turpis sit amet hendrerit. Phasellus placerat, sapien sed luctus semper, nisi orci semper lectus, tristique porttitor urna neque venenatis lectus. Vivamus cursus tempus porttitor. Morbi et metus rhoncus, pharetra dui vitae, congue est</a></p>
          </div>
          <a href='#' class='post-link button hollow'>Continue Reading...</a>
          <div class='post-social'>

          </div>
      </article>
      <article class='post post-news'>
          <header>
            <h3><a href='post.html'>Lorem ipsum dolor sit amet, consectetur 
adipiscing elit</a></h3>
            <div class='post-category'>
            	<img src='images/icons/NEWS_PINK.png' alt='News'>
            </div>
        	</header>
          <div class='post-excerpt'>
            <p>Mauris egestas commodo turpis sit amet hendrerit. Phasellus placerat, sapien sed luctus semper, nisi orci semper lectus, tristique porttitor urna neque venenatis lectus. Vivamus cursus tempus porttitor. Morbi et metus rhoncus, pharetra dui vitae, congue est</a></p>
          </div>
          <a href='#' class='post-link button hollow'>Continue Reading...</a>
          <div class='post-social'>

          </div>
      </article>
      <article class='post post-whitepaper'>
          <header>
            <h3><a href='post.html'>Lorem ipsum dolor sit amet, consectetur 
adipiscing elit</a></h3>
            <div class='post-category'>
            	<img src='images/icons/WHITEPAPER_PINK.png' alt='Whitepaper'>
            </div>
        	</header>
          <div class='post-excerpt'>
            <p>Mauris egestas commodo turpis sit amet hendrerit. Phasellus placerat, sapien sed luctus semper, nisi orci semper lectus, tristique porttitor urna neque venenatis lectus. Vivamus cursus tempus porttitor. Morbi et metus rhoncus, pharetra dui vitae, congue est</a></p>
          </div>
          <a href='#' class='post-link button hollow'>Continue Reading...</a>
          <div class='post-social'>

          </div>
      </article>
      <article class='post post-video'>
          <header>
            <h3><a href='post.html'>Lorem ipsum dolor sit amet, consectetur 
adipiscing elit</a></h3>
            <div class='post-category'>
            	<img src='images/icons/VIDEO_PINK.png' alt='Video'>
            </div>
        	</header>
          <div class='post-image'>
          	<img src='images/post-video.png' alt='Video'>
          </div>
          <div class='post-excerpt'>
            <p>Mauris egestas commodo turpis sit amet hendrerit. Phasellus placerat, sapien sed luctus semper, nisi orci semper lectus, tristique porttitor urna neque venenatis lectus. Vivamus cursus tempus porttitor. Morbi et metus rhoncus, pharetra dui vitae, congue est</a></p>
          </div>
          <a href='#' class='post-link button hollow'>Continue Reading...</a>
          <div class='post-social'>

          </div>
      </article>
   </main>

	<aside class='columns small-4'>
		<div class='widget'>
		    <form role='form' class='subscribe-form'>
		        <h4>Email Updates</h4>
		        <p>Receive Company News and Email Updates</p>
		        <input type='text' id='name' placeholder='Name'>
		        <input type='email' id='email' placeholder='Email Address'>
		    </form>
		</div><!--widget-->	
	</aside>
</div>