<div class='row media-hub-container'>
  <main class='columns small-9'>          
      <article class='post post-news'>
          <header>
            <h5 class='post-title'><a href='post.html'>Lorem ipsum dolor sit amet, consectetur 
adipiscing elit</a></h5>
            <div class='post-category'>
            	<img class='post-category__img' src='images/icons/NEWS_PINK.png' alt='News'>
              <p class='post-category__title'>News</p>
            </div>
        	</header>
          <div class='post-excerpt'>
            <p>Mauris egestas commodo turpis sit amet hendrerit. Phasellus placerat, sapien sed luctus semper, nisi orci semper lectus, tristique porttitor urna neque venenatis lectus. Vivamus cursus tempus porttitor. Morbi et metus rhoncus, pharetra dui vitae, congue est</a></p>
          </div>
          <a href='#' class='post-link button hollow'>Continue Viewing&hellip;</a>
          <div class='post-social'>
            <div class="fb-like" data-href="#" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
            <a class='twitter-share-button' href='https://twitter.com/intent/tweet'>Tweet</a>
            <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="IN/Share"></script>
          </div>
      </article>
   </main>

	<aside class='columns small-3'>
		<div class='widget subscribe'>
		    <form role='form' class='subscribe-form'>
		        <h6>Email Updates</h6>
		        <p>Receive Company News and Industry Updates</p>
		        <input type='text' id='name' placeholder='Name'>
		        <input type='email' id='email' placeholder='Email Address'>
            <input type='submit' class='button hollow' value='Submit'>
		    </form>
		</div><!--widget-->	
	</aside>
</div>