<section class='what-we-do'>
  <h1 class='section-heading'>What We Do</h1>
  <div class='row'>
    <div class='small-4 columns'>
      <div class='img-wrapper'>
        <img class='icon' src='images/icons/lightbulb.png' alt='Lightbulb'>
      </div><!--img-wrapper-->
      <h3>Technology Partner</h3>
      <p>We share intellectual property with our partners on fair terms to create lasting competitive advantages</p>
    </div><!--small-4--> 
    <div class='small-4 columns'>
      <div class='img-wrapper'>
        <img class='icon' src='images/icons/mountains.png' alt='Mountains'>
      </div><!--img-wrapper-->
      <h3>Design Leadership</h3>
      <p>We are the pioneers of ultracapacitor hybrid drivetrains. This includes Mechanical Interface, Control Algorithm, System Integration and Product Development </p>
    </div><!--small-4-->
    <div class='small-4 columns'>
      <div class='img-wrapper'>
        <img class='icon' src='images/icons/policy.png' alt='Policy'>
      </div><!--img-wrapper-->
      <h3>Policy Visionary</h3>
      <p>We steer complex market solutions with key stakeholders to create effective public policy that fosters Mass-Hybridization</p>
    </div><!--small-4-->
  </div><!--row-->
</section>