{% extends "layout-2.html" %}

{% block content%}
  {% import "macros/navbar-macro.html" as nav %}
	     {{nav.active('home')}}

  {% include "partials/header-home.html" %}
  {% include "partials/spacer-getit.html" %}
  {% include "partials/aiq-technology.html" %}
  {% include "partials/spacer-readit.html" %}
  {% include "partials/aiq-advantage.html" %}
  {% include "partials/hero-one.html" %}
  {% include "partials/what-we-do.html" %}
  {% include "partials/hero-two.html" %}
  {% include "partials/media-hub.html" %}
  {% include "partials/people.html" %}
  {% include "partials/modals.html" %}
  {% include "partials/contact-us.html" %}

  {% include "partials/footer.html" %}
{% endblock %}
