{% extends "layout-2.html" %}

{% block content%}
  {% import "macros/navbar-macro.html" as nav %}
  	{{nav.active('media_hub')}}
  {% import "macros/header-macro.html" as header %}
  	{{header.page('media_hub')}}
  {% import "macros/subnavbar-macro.html" as subnav %}
  	{{subnav.active('news')}}


<div class='row media-hub-container'>
  <main class='columns small-12 medium-9'>          
  	{% include "partials/post.html" %}
 	</main>
	<aside class='columns medium-3'>
		{% include "partials/subscribe.html" %}
	</aside>
</div>
  {% include "partials/spacer-mediakit.html" %}
  {% include "partials/footer-small.html" %}
{% endblock %}
