{% macro active(activePage='home') %}
  <!-- Macro stuff here -->
  <div class='navbar top-bar'>
    <div class='top-bar-title'>
      <a href='/'><img class='nav-logo' src='images/main-logo.png' alt='AyataIQ'></a>
    </div><!--top-bar-title-->
    <div class='top-bar-right'>
      <ul class="navbar-links menu {%if activePage == 'home' %} white-links {% endif %}">
        <li>
          <a class="{%if activePage == 'technology' %} active {% endif %}" href='#technology'><span>AIQ Technology</span></a>
        </li>
        <li>
          <a class="{%if activePage == 'advantage' %} active {% endif %}" href='#advantage'><span>AIQ Advantage</span></a>
        </li>
        <li>
          <a class="{%if activePage == 'what_we_do' %} active {% endif %}" href='#what-we-do'><span>What We Do</span></a>
        </li>
        <li>
          <a class="{%if activePage == 'media_hub' %} active {% endif %}" href='#media-hub'><span>Media Hub</span></a>
        </li>
        <li>
          <a class="{%if activePage == 'people' %} active {% endif %}" href='#people'><span>People</span></a>
        </li>
        <li>
          <a class="{%if activePage == 'contact' %} active {% endif %}" href='#contact'><span>Contact</span></a>
        </li>
      </ul>
    </div><!--top-bar-right-->
  </div><!--navbar-->

{% endmacro %}